*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑", "文泉驿正黑", "黑体";
    font-size: 14px;
}
body{
    background-color: #0EA8D8;
}
div{
    border: 1px solid #F00;
    margin: 0 auto;
}
.logo{
    width: 960px;
    height: 61px;
}
.menu{
    height: 91px;
}
.core{
    height: 410px;
}

.content{
    margin-top: 10px;
    width: 950px;
    height: 390px;
    background-color: #e8f3f8;
    border: 5px solid #8ac1db;
}
.content div{
    width: 910px;
}
.btn{
    height: 40px;
}
.data{
    height: 310px;
}
.page{
    height: 40px;
}
.copy{
    height: 50px;
    width: 960px;
}
.copy p{
    color:#FFF;
    text-align:center;
    line-height: 25px;
}